attrs==22.2.0
coverage[toml]==6.1.2
distlib==0.3.6
filelock==3.8.2
flake8==4.0.1
flake8-bugbear==21.9.2
flake8-commas==2.1.0
flake8-docstrings==1.6.0
flake8-import-order==0.18.1
flake8-polyfill==1.0.2
iniconfig==1.1.1
isort==5.10.1
mccabe==0.6.1
packaging==22.0
pep8-naming==0.12.1
platformdirs==2.6.0
pluggy==1.0.0
py==1.11.0
pycodestyle==2.8.0
pydocstyle==6.1.1
pyflakes==2.4.0
pytest==6.2.5
pytest-cov==3.0.0
six==1.16.0
snowballstemmer==2.2.0
toml==0.10.2
tomli==2.0.1
tox==3.24.4
virtualenv==20.17.1
wheel==0.38.1
yapf==0.31.0
